.icons {
    margin-left: auto;
    margin-right: auto;
    width: 5rem;
    height: 5rem;
}

.contact_us {
    padding: 3rem;
}

.contact_title {
    text-align: center;
    padding-bottom: 2rem;
    font-size: 2rem;
}