
.spacing {
    margin-bottom: 1rem;
}

.brochure{
    align-self: flex-start;
    height: auto;
    width: 100%;
    padding-bottom: 3vw;
}

.glance{
    align-self: flex-start;
    height: auto;
    width: 100%;
    padding-bottom: 3vw;
}

.collage{
    align-self: flex-start;
    height: auto;
    width: 100%;
    padding-bottom: 3vw;
}

img {
    width: 100%;
}

.press_rows {
    margin-bottom: 3rem;
}

